@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importing local fonts */
@font-face {
  font-family: "Games";
  src: url("./fonts/games.regular.ttf") format("truetype");
}
@font-face {
  font-family: "Spectral SC";
  src: url("./fonts/SpectralSC-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "UniSans";
  src: url("./fonts/UniSansHeavy.otf") format("opentype");
}
@font-face {
  font-family: "Grandezza";
  src: url("./fonts/SF-Grandezza-Medium.ttf") format("truetype");
}

/* Hiding Scrollbar */
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.circleDesign div {
  box-shadow: inset -5px -5px #7a2408;
  border-bottom: 1.5px solid #ff7518;
  border-right: 1.5px solid #ff7518;
  border-top: 0.5px solid #ff7518;
  border-left: 0.5px solid #ff7518;
}

/* Technologies Container */
#list_container li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

/* Animations */
@keyframes sparkOut {
  25%,
  50%,
  100% {
    box-shadow: 0px 4px #ffab5d;
  }
  0%,
  40%,
  75% {
    box-shadow: 0px 6px #ffab5d00;
  }
}
.animate-sparkOut {
  animation: sparkOut 2s step-end forwards;
}

@keyframes spark {
  25%,
  50%,
  100% {
    color: #ffab5d;
    box-shadow: inset -3px -3px 1px 4.5px #ffab5d;
  }
  0%,
  40%,
  75% {
    color: #71717a;
    box-shadow: none;
  }
}

.animate-spark {
  animation: spark 2s step-end forwards;
}
